
<div ng-controller="ItemController">
    @{
        ViewBag.Title = "Index";
    }
    
    <h2>Tutaj będzie się coś wyświetlało</h2>

    <ul>
        <li ng-repeat="item in items">
            <span>{{item.ItemID}}</span>
            <p>{{item.DateCreated}}</p>
            <p>{{item.Status}}</p>
            <button>Usta Status - false</button>
            <button>Usta Status - true</button>
        </li>
    </ul>



</div>
@section Scripts {

    <script>
 
    </script>
}