
<div ng-controller="ItemController">
    @{
        ViewBag.Title = "Index";
    }
    
    <h2>Tutaj będzie się coś wyświetlało</h2>

    <ul>
        <li ng-repeat="item in items">
            <span>{{item.name}}</span>
            <p>{{item.snippet}}</p>
        </li>
    </ul>



</div>
@section Scripts {

    <script>
 
    </script>
}