
<div ng-controller="ItemController">
    @{
        ViewBag.Title = "Index";
    }
    
    <h2>Lista wytworzonych przedmiotów</h2>

    <ul>
        <li ng-repeat="item in items">
            <span>Id -{{item.ItemID}}</span>
            <p>Data - {{item.DateCreated  | date:"MM/dd/yyyy @@ h:mma" }}</p>
            <p>Status - {{item.Status |ItemStatus}} </p>
            <p>Numer zmiany - {{item.ShiftNumber }} </p>
            <p>Charakterystyka Przedmiotu -{{item.SettingsDescription }} </p>
            <a ng-href='#here' ng-click='changeStatus(item)'>Zmień Status</a>
           
        </li>
    </ul>



</div>
@section Scripts {

    <script>
 
    </script>
}