@model RaportManager.Domian.MachineError

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Machine Error</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MachineErrorDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MachineErrorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
